[submodule "themes/codinfox-zola"]
	path = themes/codinfox-zola
	url = https://github.com/Axect/codinfox-zola
[submodule "public"]
	path = public
	url = https://github.com/Axect/axect.github.io
[submodule "axect.github.io"]
	path = axect.github.io
	url = https://github.com/Axect/axect.github.io
